$primaryColor: #FF6969;
$secondaryTextColor: grey;
$universalIconHeight: 30px;
$universalIconWidth: 30px;
$universalIconPadding: 10px;
$secondaryIconHeight: 25px;
$secondaryIconWidth: 25px;

//universal styling
*{
    margin-left: 5px;
    margin-right: 5px;
    line-height: 1.1ch;


}
//defining some basic styles
#show-more-text {
    font-weight: bold;
    cursor: pointer;
}

#third-text-color {
    font-weight: normal;

}
#mediumIcon{
    height: 35px;
    width: 35px;
}
#userImage {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

p {
    line-height: 2ch;
}
.line-height{
    line-height: .5ch;
}

//header portion styling start
.header {
    width: 100%;
    height: 95px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
   

}



.left-side-header {
    display: flex;
    align-items: center;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}

#cursor-pointer{
    cursor: pointer;
}

.nav-item-3 {
    color: $secondaryTextColor;
}

.navbarElement-1 {
    display: flex;
    padding: 10px;
    margin-left: 40%;

    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px;

}

.vertical-line {
    height: 24px;
    /* Adjust this value to match your desired line height */
    width: 1px;
    background-color: #ccc;
    /* Adjust color as needed */
    margin: 0 10px;
    /* Adjust spacing as needed */
}

.navbarElement-2 {

    display: flex;
    align-items: center;
}
#searchIcon {
    height: $universalIconHeight;
    width: $universalIconWidth;
    padding: $universalIconPadding;
    border-radius: 50%;
    color: white;
    background-color: $primaryColor;
    cursor: pointer;
}

#languageIcon,
#menuIcon,
#userIcon {
    height: $universalIconHeight;
    width: $universalIconWidth;
    padding: $universalIconPadding;
    cursor: pointer;

}

.userMenu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px;
}
.header-2 {
    display: none;


}


//2nd portion styling start

#bedroomImages1 {
    height: 494px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;

}

#bedroomImages {
    height: 247px;
    width: 300px;
    object-fit: cover;

    border-radius: 10px;
}






main {
    margin-left: 40px;
    margin-right: 40px;
}

.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightSideTitlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shareDiv,
.saveDiv {
    display: flex;
    justify-content: center;
    align-items: center;

}

#shareIcon,
#saveIcon {
    height: $secondaryIconHeight;
    width: $secondaryIconWidth;
}

.gallerySection {
    display: flex;

    margin: 0;
    justify-content: start;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 500px;



}

.secondImageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    object-fit: cover;
}

.secondImageSection-1 {
    display: flex;
    align-items: center;
    
    padding: 2px;

}

.overlay-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 70%;
    left: 40%;
    width: 50%;
    height: 20%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 2px solid black;
    /* Add a 2px solid black border */
    margin-bottom: 5%;
    /* Add a 10px bottom margin */
}

.overlay-text {
    font-size: 16px;
}

.room-image {
    display: none;
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Adjust this value to match your image aspect ratio */
    position: relative;
    overflow: hidden;
    border-radius: 12px;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .navigation {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .right-icons {
    position: absolute;
    top: 16px;
    left: 80%;
    display: flex;
  }
  
  .navigation button,
  .right-icons button {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .right-icons , .share img {
   
    width: 16px;
    height: 16px;
  }

  .banner-button{
    display: flex;
    margin-left: 90%;
  }
  
  .image-count {
    position: absolute;
    bottom: 16px;
    right: 16px; /* Changed from left to right */
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 14px;
  }

.reviewSection {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}
.reviewTitle{
    margin: 0;
}

.reviewSectionLeft {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.reviewRightSection {
    margin-left: 20px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

#starIcon {
    height: $secondaryIconHeight;
    width: $secondaryIconWidth;
    cursor: pointer;
}

.starIconDiv {
    display: flex;
    align-items: center;

}

#bedroomDetail {
    color: $secondaryTextColor;
}

.hosted {
    padding: 10px;
    display: flex;
    align-items: center;
}

#hostedDetail {
    color: $secondaryTextColor;
}

#hostedPerson {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;

}

.horizontalLine {
    color: $secondaryTextColor;
}

#hostedIcon {
    height: $secondaryIconHeight;
    width: $secondaryIconWidth;
    cursor: pointer;
}

#table1 {
    margin: 0;
   border-collapse: collapse;
 
    
    

}


#table1 td {
    border: 1px solid #ddd; /* Border color and width */
    padding: 8px; /* Padding inside each cell */
}



#add-date {
    color: $secondaryTextColor;
}

.secondRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-button {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  
    background-color: $primaryColor;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: larger;
}

.report-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-title-1 {
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
}

.showMore {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

#sleepSpaceImage {
    height: 300px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
}

#secondary-text-color {
    color: $secondaryTextColor;
}

#commonListIcon {
    height: $secondaryIconHeight;
    width: $secondaryIconWidth;

}

.list-title-icon {
    display: flex;
    align-items: center;

}

.offer-list {
    display: flex;
    margin: 0;
}

.btn-show-amenities {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;


    justify-content: center;

    border-radius: 10px;
    background-color: transparent;
    font-size: larger;
}




.calendar-container {
    font-family: Arial, sans-serif;


}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendars {
    display: flex;
    gap: 10px;
   
}

.month {
    flex: 1;
}

.august-month {
    flex: 1;
}

.weekdays,
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
   
}

.weekdays span {
    font-weight: bold;
    padding: 5px;
    font-size: 0.8em;
    color: #757575;
}

.days span {
    padding: 8px;
    cursor: pointer;
    font-size: 0.9em;
}

.days span:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
}

.calendar-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    background-color:$primaryColor;
}

/* Style for empty date cells */
.days span:empty {
    cursor: default;
}

.days span:empty:hover {
    background-color: transparent;
}


.no-review-subsec {
    display: flex;
    align-items: center;
}

.show-reviews-link {
    color: #000;
    /* or whatever color you want for the link */
    text-decoration: underline;
    font-weight: bold;
}

.sh-left-portion {
    display: flex;
    flex-direction: column;
    text-align: center;


}

.sh-left-portion h3 {
    margin: 5px 0;
    /* Adjust margins */
    font-size: 1.6rem;
    /* Example font size */
}

.super-host-person {
    display: flex;
    justify-content: center;
    align-items: center;



}




.rating-text {
    display: flex;
    align-items: center;

}

.super-host {

    display: flex;

    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 20px;
    height: 250px;
    width: 360px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.sh-right-portion {
    line-height: 1ch;
}

.left-details {
    display: flex;
    flex-direction: column;
}

.born-detail {
    display: flex;

    align-items: center;
    margin: 0;
    padding: 0;
}

.work-detail {
    display: flex;

    align-items: center;
    margin: 0;
    padding: 0;
}

.meet-our-host {
    display: flex;
    


}
#dummy-line{
    display: none;
}
.right-details {
    margin-left: 10%;
}

.co-hosts {
    display: flex;
    align-items: center;

}

#message-host {
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: large;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.things-to-know {
    display: flex;
    justify-content: space-between;

}
.report-icon-second{
    display: none;
}
.pagination-portion {
    padding: 10px;
    background-color: rgb(236, 228, 228);
    margin: 0;
    width: 100%;

    border: 1px solid black;
    box-sizing: border-box;

}

.pagination-portion h4 {
    margin-left: 5%;


}

.footer-portion-1 {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.first-text-footer {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

//responsive mobile design 

@media (min-width: 250px) and (max-width:932px) {
    *{
        line-height: normal;
    }
    .header {
        
        display: none;
    }
    .line-height{
        line-height: .6ch;
    }

    .rightSideTitlebar {
        display: none;
    }

    #title {
        font-size: large;
    }

    .gallerySection {
        display: none;
    }

    .room-image{
        display: block;
        margin-top: 10px;
        
    }
    #mobile-banner{
        border-radius: 10px;
    }
    h2 {
        font-size: large;
    }

    h3 {
        font-size: medium;
    }
    
    .reviewRightSection {
        display: none;
    }

    .no-review-subsec {
        
        flex-direction: row-reverse;
    }
    .report-icon{
        display: none;
    }
    
    #august-month {
        display: none;
    }

    .august-month {
        display: none;
    }

    p {
        font-size: small;
    }

    .reviewSectionLeft {
        width: 100%;
    }

    #mapImage {
       
        width: 100%;
    }

    #sleepSpaceImage {
        width: 100%;
    }

    .header-2 {

        display: flex;
        height: 75px;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        

    }

    #useApp {
        font-size: 1rem;
        border: none;
        background-color: #3FA2F6;
        color: white;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right-list {
        display: none;
    }

    .meet-our-host {
       flex-direction: column;

    
    
    }
    .right-details{
        margin: 0;
    } 

    #dummy-line{
        display: block;
    }
    #message-host{
        padding: 8px;
        font-size: small;
    }
    .super-host{
        width: 100%;
        margin: 0;
        height: 270px;
    }
    .pagination-portion{
        padding: 0;
    }
    #things-to-know-title{
        display: none;
    }
    .things-to-know{
        flex-direction: column-reverse;
    }
    .report-icon-second{
       
        padding: 10px;
        display: flex;
        align-items: center;
        margin-top: 20px;
        
    }
    #disable-footer{
        display: none;
    }
    .footer-portion-2{
        display: none;
    }

    .footer-col-3{
        display: none;
    }

}